<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.twin3.systembardimmer"
        version="0.0.1">

  <name>SystemBarDimmer</name>
  <description>Cordova plugin for Android to dim the system bars</description>
  <author>Neil Palethorpe</author>
  <keywords>ecosystem:cordova,cordova-android,plugin,cordova,system,bar,neil,palethorpe,navigation,dim,android</keywords>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/systembardimmer.js" target="js/systembardimmer.js"/>

  <js-module src="www/systembardimmer.js" name="systembardimmer">
    <clobbers target="systembardimmer" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SystemBarDimmer">
        <param name="android-package" value="com.twin3.plugin.SystemBarDimmer" />
      </feature>
    </config-file>

    <source-file src="src/android/SystemBarDimmer.java" target-dir="src/com/twin3/plugin/" />

  </platform>

</plugin>